/* responsive for small device
@media screen and (max-width: 576px) {
.navbar .brand , .banner-title {
    margin: 10px 20px;
}

}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
     flex-direction: column;
    }
    .our-features{
     border: 2px solid;
     margin-left: 50px;
 
    }
    .team-image-container{
     border: 2px solid;
     grid-template-columns: repeat(2, 1fr);
 
    }
 } */